:root {
	--stundenplan-width: 80vmin;
	--stundenplan-height: 60vh;

	font-size: 1.5vmin;
}


.weiss {
	color: white;
}


table.stundenplan {
	width: var(--stundenplan-width);
	height: var(--stundenplan-height);

	margin-top: 2vh;
	margin-left: calc((100vw - var(--stundenplan-width)) / 2);
	margin-right: calc((100vw - var(--stundenplan-width)) / 2);

	& th {
		background-color: #7e7e7e;
	}

	& th, td {
		width: calc(var(--stundenplan-width) / 6);

		padding: 0.5em;

		border: 1px solid #ddd;
		border-radius: calc(1em / 3);
	}

	& td {
		text-align: left;

		height: calc(var(--stundenplan-height) / 13);

		& p {
			line-height: 0.2em;
		}

		&.stunde {
			&.ungerade {
				background-color: #cfcfcf;
			}

			&.gerade {
				background-color: #afafaf;
			}
		}

		&.mittagspause {
			text-align: center;
			vertical-align: middle;
		}
	}
}

